.wrapper {
  max-width: var(--width-max);
  margin: auto;
  padding: var(--spacing-large) 0;
}

@media screen and (max-width: 1400px) {
  .wrapper {
    padding: var(--spacing-large) var(--spacing-large);
  }
}
