:root {
    --color-white: #fff;
    --color-black: #000;
    --color-gray:  #9c9c9c;

    --font-size-small: 14px;
    --font-family-main: sans-serif;
    --font-bold: 600;

    --transition: .4s;
}
